/*
  HTML Tag overides
*/
body {
/*  background-color: #000;*/
  background-image: url('../images/forest.png');
  background-repeat:no-repeat;
	color: #eee;
	font-family: helvetica, arial, verdana, sans-serif;
	height: 100%;
	padding: 0px;
	margin: 0px;
  overflow: hidden;
}

h2.header {
	text-align: center;
  margin-top: 20px;
}

input, select, textarea {
    color: #fff;
}

li {
  display: block;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  -webkit-transition: all .4s ease-in;
}

li:hover {
  color: #cc0000;
}

textarea:focus, input:focus {
    color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}


/* 
  Classes 
*/
.centerContent {
    padding-left: 20px;
/*  background-color: #000;
    padding-right: 10px;
    border: 1px dotted #fff; */
}


/*
  IDs
*/
#container {
/*  background-color: #333;*/
	height: 100%;
	margin: 0 auto;
	width: 1000px;
}

#indent {
  text-indent: 1em;
}

#inputField {
	display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#inputField input {
	width: 995px;
	border: none;
	margin: 0px;
	background-color: #555;
	padding:5px 0px 5px 5px;
}

#inventory {
	display: inline-block;
	background-color: #333333;
	margin: 0px;
  float: right;
  width: 120px;
}

#textArea {
	display: inline-block;
	/*background-color: #aaa;*/
	margin: 0px;
  padding-top: 20px;
	height: 100%;
  height: 300px;
  
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



/*
  Cross Browser Stuff
*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}